body{
	background-color: gray;
}
.title{
	text-align: center;
	color: #47D6E0; 
	font-family: sans-serif;
	margin: 10%;
}
#Task1{
	text-align: left;
	font-size: 14pt;
	font-family: fantasy;
	color: #771543;
}
#Task2{
	text-align: left;
	font-size: 14pt;
	font-family: fantasy;
	color: #775531;
}